# Kaggle API credentials (for dataset download)
# Can be generated in Kaggle Settings -> Create New Token
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

# GigaChat API credentials
# Get them from https://developers.sber.ru/portal/products/gigachat-api
GIGACHAT_CREDENTIALS=your_gigachat_authorization_data
GIGACHAT_MODEL=GigaChat-2

# Data Microservice settings
DATA_SERVICE_HOST=http://localhost
DATA_SERVICE_PORT=8001

# ML Inference Microservice settings
ML_SERVICE_HOST=http://localhost
ML_SERVICE_PORT=8002
